@charset "utf-8";

/*=======Layout=========*/
#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 325px;
  background-color: #111;
}
#contents {
  width: 100%;
  height: 800px;
  background-color: #222;
}
#footer {
  width: 100%;
  height: 200px;
  background-color: #333;
}
/*=====Content Layout=======*/
#content_nav {
  width: 100%;
  height: 200px;
  background-color: #333;
}
#content_title {
  width: 100%;
  height: 200px;
  background-color: #444;
}
#content_banner {
  width: 100%;
  height: 200px;
  background-color: #555;
}
#content-content {
  width: 100%;
  height: 200px;
  background-color: #666;
}

/*======Container===========*/
.container {
  width: 990px;
  margin: 0 auto;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
